<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>
<body>
    <h1>Welcome to your Dashboard</h1>
    <p>This is the starting point of trying out 2FA with TOTP.</p>
    {{ if .Email }}
    <p>Logged in as: {{ .Email }}</p>
    {{ else }}
    <p>You are not logged in.</p>
    {{ end }}
    <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/setup_2fa">Setup Two-Factor Authentication</a></li>
        <li><a href="/protected">Protected Page</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    
</body>

</html>